
/* Container Styling */
.main-container {
margin: 0px;
position: absolute;
left: 12%;
width:100vw;
margin-top: 15px;
}

.card {
    background-color: #f9f9f9; /* Box background color */
    color: #070707; /* Light text color */
    border: none;
    height: 100%; /* Ensure boxes take full height */
    display: flex;
    flex-direction: column;
    width: 75%; /* Control the width of the main container */
    max-width: 1200px; /* Optional: Limit the maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visual */
    border-radius: 10px; /* Optional: Rounded corners */
  }
  
  .card-body {
    padding: 20px;
    flex-grow: 1; /* Ensure body grows to fill remaining space */
    
  }
  
  .card-title{
    font-family: 'Arial', sans-serif; /* Different font style */
    font-size: 1.5em;
    color:  rgb(32, 32, 91);
    border-bottom: 2px solid #090909; /* Underline the title */
    margin-bottom: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  
  
  .card-header {
    background-color: #bac7d2; /* Slightly darker than the card body */
    font-family: 'Georgia', serif; /* Different font style for headers */
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 15px; /* Add space between header and content */
   
  }
  
  .card-text {
    font-family: 'Verdana', sans-serif; /* Different font style for text */
    color: #070707; /* Slightly lighter color for text */
  }
 
  
  .row {
    margin-top: 20px;

  }
  
  .col-sm-6 {
    margin-bottom: 20px; /* Add space between rows */
  }
  
  /* Ensure all boxes are of equal height */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-sm-6 {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
  }
  
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }