ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(32, 32, 91);
  }
  ul li {
    margin: 0;
  }
  
  ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(32, 32, 91); /* Adjust this to your preferred link color */
    font-size: x-large;
  }
  
  ul li a:hover {
    color: #007BFF; /* Adjust this to your preferred hover color */
  }

  .navbar-logo img {
    height: 50px; /* Adjust this size as needed */
  }

  ul .lis{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: ;
  }